* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: hsl(0, 0%, 10%);
    transition: color 0.5s, text-shadow 0.5s, box-shadow 0.5s, background 0.5s;
}